{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "configPath": "",
  "disableLanguages": [],
  "documentSelectors": [],
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "css",
  "ignorePath": ".prettierignore",
  "insertPragma": false,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "packageManager": "yarn",
  "prettierPath": "",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requireConfig": false,
  "requirePragma": false,
  "resolveGlobalModules": false,
  "semi": true,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useEditorConfig": true,
  "useTabs": false,
  "vueIndentScriptAndStyle": false,
  "withNodeModules": false
}
